<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
	<appSettings>
		<add key="MAX_IMPORTANT_TASKS" value="1000"/>
		<add key="MAX_TASKS" value="1000"/>
		<add key="MAX_CHARACTER_TASKS" value="50"/>
		<add key="MAX_CHARACTER_SHORT_TASKS" value="100"/>
		<add key="CHARACTER_COOL" value="30"/>
		<add key="CHARACTER_SHORT_COOL" value="5"/>
		<add key="NAME" value="箱庭"/>
	</appSettings>
</configuration>